.git
.gitignore
.env
.env.backup
.phpunit.result.cache
docker-compose*.yml
Dockerfile
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
README.md
